#itensName {
    width: 100%;
    height: 80%;
    overflow: auto;
}

.wrapper {
    max-width: 600px;
    margin: 0 auto;
}

.spacing {
    margin-top: 5%;
}

.styleText {
    font-size: 20px;
    margin: 0 auto;
    margin-top: 5%;
}

.btn-position {
    float: right;
}

.btnLast-position {
    float: left;
}

.color-nav {
    background-color: #395da8;
}

.collection-item:hover {
    color: cornflowerblue;
}